<h1>Teste para Pitzi</h1>
<br/>
<p> <h5>Link Front:</h5> <a href="https://github.com/linknys/pitzi-front-t">https://github.com/linknys/pitzi-front-t </a></p>
<p> <h5>Link API: </h5><a href="https://github.com/linknys/pitzi-api">https://github.com/linknys/pitzi-api </a> </p>
<br/><br/>
<p>- Porta API:   3000
<br/>
<p>- Porta FRONT: 3001
<br/><br/>
<p> <h5> Endpoints: </h5> 
<p> <a href="https://drive.google.com/file/d/14BqtCTbOw_oJv9P5FcBcDBrzIZ5DFs2Y/view?usp=sharing">https://drive.google.com/file/d/14BqtCTbOw_oJv9P5FcBcDBrzIZ5DFs2Y/view?usp=sharing </a>
<br/> (Salvar e importar no Postman caso queira testar diretamente)

